.userAddform{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}
.userAddform button {
    margin-bottom: 0.5em;
    background: #fafafa;
    color: #333;
    font-size: 1em;
    font-weight: bold;
    padding: 14px 25px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
  }
  .nameBox {
    padding: 15px 25px;
    border: 2px solid #aaa;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 18px;
  }